html, body {
	height: 100%;
	margin: 0;
	font-family: "Lato", sans-serif;
}

#img_1, #img_7, #img_5 {
	width: 10%;
	height: auto;
}

#img_5 {
	width: 10%;
	height: auto;
}

#img_3 {
	width: 30%;
	height: auto;
}

.top-content {
	border-bottom: 2px solid gray;
}

.top-content img {
	width: 105px;
	height: 70px;
	float: left;
	padding-top: 15px;
	margin-left: 30px;
}

#top-title {
	font-size: 40px;
	text-align: center;
	padding-top: 22px;
	font-weight: bold;
	color: #0158A3;
	float: left;
}

#user-info {
	margin-top: 50px;
	text-align: right;
	padding-right: 30px;
}

#user-name, #icon-off {
	font-size: 19px;
	font-weight: bold;
}

#user-name {
	color: #0158A3;
}

#icon-off {
	color: #ef4613;
}

#hr-top-content {
	height: 0px;
	border: none;
	border-top: 2px solid lightgrey;
	left: 0;
	right: 0;
}

.sidenav {
	background-color: #0158A3;
	margin: 0;
	padding: 0;
	width: 230px;
	position: absolute;
	height: 200%;
	overflow: auto;
}

.sidenav a {
	padding: 15px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
}

.sidenav ul li {
	width: 100%;
}

.sidenav a:hover {
	color: white;
	text-decoration: none;
	background-color: #004F93;
}

.sidenav a.active {
	background-color: #1761d8;
	color: white;
}

.tab-content {
	margin-left: 250px;
	padding: 1px 16px;
	height: 1000px;
}

#home-page p .step{
	font-weight: bold;
	font-size: 20px;
}

.fa-plus-circle {
	color: green;
}

.page-title {
	font-size: 40px;
}

@media only screen and (max-width: 1690px) {
	#home-page h1 {
		font-size: 35px;
	}
	#home-page p .step {
		font-size: 18px;
	}
}

@media screen and (max-width: 1536px) { 
	#top-title {
		font-size: 35px;
	}
	
	#user-info {
		margin-top: 40px;
	}

	#user-name {
		font-size: 17px;
	}
}

@media screen and (max-width: 1440px) { 
	.top-content img {
		width: 95px;
		height: 65px;
	}

	#top-title {
		font-size: 30px;
	}
	
	#user-info {
		margin-top: 35px;
	}

	#user-name {
		font-size: 15px;
	}

	.sidenav {
		width: 200px;
	}

	.sidenav a {
		font-size: 17px;
	}

	.tab-content {
		margin-left: 210px;
	}

	#home-page h1 {
		font-size: 30px;
	}

	#home-page p {
		font-size: 16px;
	}

	#register h3, #result h3 {
		font-size: 25px;
	}

	.table {
		font-size: 14px;
	}
}

@media screen and (max-width: 1366px) { 
	.top-content img {
		width: 85px;
		height: 60px;
	}

	#top-title {
		font-size: 28px;
	}
	
	#user-info {
		margin-top: 30px;
	}

	#user-name {
		font-size: 14px;
	}
}

@media screen and (max-width: 1266px) { 
	.top-content img {
		width: 75px;
		height: 55px;
	}

	#top-title {
		font-size: 25px;
	}
	
	#user-info {
		margin-top: 30px;
		margin-left: -30px;
		padding-right: 30px;
		width: 130%;
	}

	#user-name {
		font-size: 14px;
	}
	.sidenav {
		width: 190px;
	}

	.sidenav a {
		font-size: 15px;
	}

	.tab-content {
		margin-left: 200px;
	}

	#home-page h1 {
		font-size: 25px;
	}

	#home-page .step {
		font-size: 15px;
	}

	#home-page p {
		font-size: 14px;
	}

	#register h3, #result h3 {
		font-size: 25px;
	}

	.table {
		font-size: 14px;
	}
}

@media screen and (max-width: 1024px) {
	.top-content img {
		width: 65px;
		height: 50px;
	}

	#top-title {
		font-size: 23px;
	}
	
	#user-info {
		margin-top: 25px;
		margin-left: -30px;
		padding-right: 30px;
		width: 130%;
	}

	#user-name {
		font-size: 13px;
	}
	.sidenav {
		width: 180px;
	}

	.sidenav a {
		font-size: 14px;
	}

	.tab-content {
		margin-left: 190px;
	}

	#home-page h1 {
		font-size: 24px;
	}

	#home-page .step {
		font-size: 14px;
	}

	#home-page p {
		font-size: 13px;
	}

	#register h3, #result h3 {
		font-size: 23px;
	}

	.table {
		font-size: 13px;
	}
}

@media screen and (max-width: 980px) { 
	.img-logo {
		width: 70%;
		height: auto;
	}
	.top-content img {
		width: 55px;
		height: 45px;
		margin-top: 7px;
		margin-left: 7px;
	}

	#top-title {
		font-size: 20px;
		margin-left: -30px;
	}
	
	#user-info {
		width: 200%;
		margin-top: 25px;
		margin-left: -55px;
	}

	#user-name {
		font-size: 10px;
		padding-left: -30px;
	}
	.sidenav {
		width: 6%;
		height: 100%;
	}
	.sidenav ul li span:nth-child(2) {
		display: none;
	}
	.tab-content {
		margin-left: 50px;
	}
}

@media screen and (max-width: 768px) {
	#top-title {
		font-size: 17px;
		margin-left: -30px;
	}
	#user-info {
		margin-top: 20px;
		margin-left: -30px;
	}
}
  
@media screen and (max-width: 425px) {
	.top-content img  {
		margin-left: 40%;
	}
	#top-title {
		font-size: 20px;
		margin-left: 0px;
	}
	#user-space {
		margin-left: 14%;
	}
	#user-info {
		
		width: 80%;
		margin-top: 0px;
		margin-bottom: 10px;
	}
	#user-name {
		font-size: 15px;
	}
	.sidenav {
		width: 10%;
		height: 150%;
	}
}


/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}